@using PrimeiroMVC.Models
@model PrimeiroMVC.Models.Pessoa
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("Cadastrar", "Cadastros", FormMethod.Post))
{
    <div>
        @Html.DisplayNameFor(p => p.Nome) <br />
        @Html.TextBoxFor(p => p.Nome) <br />
    </div>
    

    <input type = "submit" value="Cadastrar"/>
}
